In [56]:
import pandas as pd
data_train = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\jigsaw-toxic-comment-classification-challenge\train.csv\train.csv')
data_test = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\jigsaw-toxic-comment-classification-challenge\test.csv\test.csv')
test_labels = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\jigsaw-toxic-comment-classification-challenge\test_labels.csv\test_labels.csv')

data_train


## Primera parte basada en esto: https://www.kaggle.com/code/omkarcgode/toxic-comment-classification-nlp-using-pytorch

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
159566,ffe987279560d7ff,""":::::And for the second time of asking, when ...",0,0,0,0,0,0
159567,ffea4adeee384e90,You should be ashamed of yourself \n\nThat is ...,0,0,0,0,0,0
159568,ffee36eab5c267c9,"Spitzer \n\nUmm, theres no actual article for ...",0,0,0,0,0,0
159569,fff125370e4aaaf3,And it looks like it was actually you who put ...,0,0,0,0,0,0
159570,fff46fc426af1f9a,"""\nAnd ... I really don't think you understand...",0,0,0,0,0,0

In [57]:
data_test

                      id                                       comment_text
0       00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1       0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2       00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3       00017563c3f7919a  :If you have a look back at the source, the in...
4       00017695ad8997eb          I don't anonymously edit articles at all.
...                  ...                                                ...
153159  fffcd0960ee309b5  . \n i totally agree, this stuff is nothing bu...
153160  fffd7a9a6eb32c16  == Throw from out field to home plate. == \n\n...
153161  fffda9e8d6fafa9e  " \n\n == Okinotorishima categories == \n\n I ...
153162  fffe8f1340a79fc2  " \n\n == ""One of the founding nations of the...
153163  ffffce3fb183ee80  " \n :::Stop already. Your bullshit is not wel...

[153164 rows x 2 columns]

In [58]:
data_test = pd.concat([data_test, test_labels[test_labels.columns.values[1:]]], axis=1)
data_test

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,Yo bitch Ja Rule is more succesful then you'll...,-1,-1,-1,-1,-1,-1
1,0000247867823ef7,== From RfC == \n\n The title is fine as it is...,-1,-1,-1,-1,-1,-1
2,00013b17ad220c46,""" \n\n == Sources == \n\n * Zawe Ashton on Lap...",-1,-1,-1,-1,-1,-1
3,00017563c3f7919a,":If you have a look back at the source, the in...",-1,-1,-1,-1,-1,-1
4,00017695ad8997eb,I don't anonymously edit articles at all.,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...
153159,fffcd0960ee309b5,". \n i totally agree, this stuff is nothing bu...",-1,-1,-1,-1,-1,-1
153160,fffd7a9a6eb32c16,== Throw from out field to home plate. == \n\n...,-1,-1,-1,-1,-1,-1
153161,fffda9e8d6fafa9e,""" \n\n == Okinotorishima categories == \n\n I ...",-1,-1,-1,-1,-1,-1
153162,fffe8f1340a79fc2,""" \n\n == """"One of the founding nations of the...",-1,-1,-1,-1,-1,-1
153163,ffffce3fb183ee80,""" \n :::Stop already. Your bullshit is not wel...",-1,-1,-1,-1,-1,-1

In [59]:
data_train["non_toxic"] = data_train.iloc[:,2:8].apply(lambda x: 1 if (sum(x)==0) else 0, axis=1)
data_test["non_toxic"] = data_test.iloc[:,2:8].apply(lambda x: 1 if (sum(x)==0) else 0, axis=1)
data_train.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0,1
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0,1
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0,1
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0,1
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0,1

In [60]:
Total_of_Class = {}                   # Total labeled comments from each class
for col in data_train.iloc[:,2:].columns:
    Total_of_Class[col] = data_train[col].value_counts()[1]
    print(f"{col} : {Total_of_Class[col]}\n")

toxic : 15294

severe_toxic : 1595

obscene : 8449

threat : 478

insult : 7877

identity_hate : 1405

non_toxic : 143346

In [61]:
import re
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"https?://\S+|www\.\S+","",x) )
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"https?://\S+|www\.\S+","",x) )


print(data_train.loc[629,"comment_text"])

Edit request on 29 October 2013

The Arctic Monkeys played Walk on the Wild Side in honour of Lou Reed at Echo Arena, Liverpool, a day after the musician's death.

In [62]:

data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub("["
                                                                                   u"\U0001F600-\U0001F64F"
                                                                                   u"\U0001F300-\U0001F5FF"  
                                                                                   u"\U0001F680-\U0001F6FF" 
                                                                                   u"\U0001F1E0-\U0001F1FF"  
                                                                                   u"\U00002702-\U000027B0"
                                                                                   u"\U000024C2-\U0001F251"
                                                                                   "]+","", x, flags=re.UNICODE))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub("["
                                                                                   u"\U0001F600-\U0001F64F"
                                                                                   u"\U0001F300-\U0001F5FF"  
                                                                                   u"\U0001F680-\U0001F6FF" 
                                                                                   u"\U0001F1E0-\U0001F1FF"  
                                                                                   u"\U00002702-\U000027B0"
                                                                                   u"\U000024C2-\U0001F251"
                                                                                   "]+","", x, flags=re.UNICODE))

print(data_train.loc[728,"comment_text"],"\n\n")

AMBER+TAYLOR FOREVER

AMBER + TAYLOR FOREVER

In [63]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}","",x))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}","",x))

print(data_train.loc[744,"comment_text"],"\n\n")

"

No not really. We may ask that the mention of fat being the fire source of the cremation of millions be reconsidered though - along with a few other items. The fat cremation ""wiki fact"" is citable (  - Emory U no less, Lipstadt) but doubtful. If the same science was applied to the holocaust as say the tinfoilers or flat earthers the deniers would be overjoyed. Be careful as to who gets the nutty fringe tinfoil label in the end. You get the permits and we'll bring the shovels.   "

In [64]:
idxs_css = []
for i in  range(len(data_train)):
    if re.findall(r"[{][|].+\n",data_train.loc[i,"comment_text"]):
        idxs_css.append(i)
idxs_css_t = []
for i in  range(len(data_test)):
    if re.findall(r"[{][|].+\n",data_test.loc[i,"comment_text"]):
        idxs_css_t.append(i)

print(f"length of css style elements containing comments : {len(idxs_css)}")

# Comments Containing Css style, class and attributes
ct=0
for i in idxs_css:
    ct += 1
    if ct>5:
        break
    st = data_train.loc[i,"comment_text"]

ct=0
for i in idxs_css_t:
    ct += 1
    if ct>5:
        break
    st_t = data_test.loc[i,"comment_text"]

length of css style elements containing comments : 362

In [65]:
data_train.drop(idxs_css,inplace=True)
data_test.drop(idxs_css_t,inplace=True)

In [66]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"<.*?>","",x))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"<.*?>","",x))

In [67]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"\"\"", "\"",x))   # replacing "" with "
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"^\"", "",x))      # removing quotation from start and the end of the string
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"\"$", "",x))

data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"\"\"", "\"",x))   # replacing "" with "
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"^\"", "",x))      # removing quotation from start and the end of the string
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"\"$", "",x))

In [68]:
print(data_train.loc[15,"comment_text"],"\n\n")

Juelz Santanas Age

In 2002, Juelz Santana was 18 years old, then came February 18th, which makes Juelz turn 19 making songs with The Diplomats. The third neff to be signed to Cam's label under Roc A Fella. In 2003, he was 20 years old coming out with his own singles "Santana's Town" and "Down". So yes, he is born in 1983. He really is, how could he be older then Lloyd Banks? And how could he be 22 when his birthday passed? The homie neff is 23 years old. 1983 - 2006 (Juelz death, god forbid if your thinking about that) equals 23. Go to your caculator and stop changing his year of birth. My god.

In [69]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"[^a-zA-Z0-9\s][^a-zA-Z0-9\s]+", " ",x))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"[^a-zA-Z0-9\s][^a-zA-Z0-9\s]+", " ",x))

In [70]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"[^a-zA-Z0-9\s\"\',:;?!.()]", " ",x))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"[^a-zA-Z0-9\s\"\',:;?!.()]", " ",x))

print(data_train.loc[126,"comment_text"],"\n\n")

Ahh, Hello Witzeman


Symbols:                                                                                                                                   m  m
Characters:
Greek:
Cyrillic:
IPA: t  d
  My Famous Article  witze  happiness   wikipedia The Witzeman is a great honour that has been passed down through the generations of many families, regardless of race, age, character or knowledge. The outside world knows little about these elusive characters, and the honour of the Witzeman. For those who have ever been a Witzeman, it has been said to have been a great honour, although the qualities needed for the job have never been disclosed. A person may not now they were a Witzeman for many years, until they are called by former Witzemans via dreams. Associates of the Witzeman are known to be a certain Babe Cool or the much lesser known Witzewoman.

The Present Witzeman is an 11 year old boy namely Benjamin Woods, who is said to have become a Witzeman after he felt this 'awesome radiance in his top right bumcheek  He has not told a great number of people his testimony, but has promised to do so in years to come.

                           History
The present world has only come enlightned with the knowledge of the Witzeman in present years, because former Witzemen have not been so public about the honour, to abide with the formality and conservativism in their time. The term 'Witzeman' is a compound word of the adjective Witze and 'man  witze being an 11th century term for 'a person of extreme humour and radiant intelligence  Unfortuneatly, Witze is also sometimes associated with bad wind, for unspeakable reasons.

                       Proper History
As early as the 14th century, Witzemen were considered outcasts, and young children were encouraged to poke them with sticks. This led to the 1st Witzeman Rebellion of 1555 when the current Witzeman and his followers attempted a coup to take over the local Council chess team. This rebellion further disgraced the Witzeman, as he and his followers were embarassingly pronounced 'gaga' at a Government meeting that year. The period from here to the early 1900s was a dark time in the Witzemans history. However good times were to come for the Witzeman. Many normal people took part in mass demonstrations and protests for the Witzeman in the 1980s, building up to a great moment in the history the Great Rebellion of 1988. This was when several Witzeman sprinted round the Visitors Gallery of the House of Commons, wearing clown masks, but otherwise completely naked. This was thought to be an act of circambulation. However many people who witnessed this shocking behaviour, were 'mentally, spiritually, and emotionallly scarred for life  This group of people included many young children who were forced to go to asylums in a state of mental instability, suffering from trauma. It was at this time that the Government finally took positive action for the Witzeman. In 1990, a bill of rights for the Witzeman was signed, stating all Witzemen were allowed to do as they pleased. Although this was a formal agreement, many journalists viewed it as a letter of submission from the Government to the Witzeman, as the behaviour of the Witzeman and his followers became more and more twisted.

In [71]:
data_train["comment_text"] = data_train["comment_text"].map(lambda x: re.sub(r"\s\s+", " ",x))
data_test["comment_text"] = data_test["comment_text"].map(lambda x: re.sub(r"\s\s+", " ",x))
print(data_train.loc[126,"comment_text"])

Ahh, Hello Witzeman Symbols: m m Characters: Greek: Cyrillic: IPA: t d My Famous Article witze happiness wikipedia The Witzeman is a great honour that has been passed down through the generations of many families, regardless of race, age, character or knowledge. The outside world knows little about these elusive characters, and the honour of the Witzeman. For those who have ever been a Witzeman, it has been said to have been a great honour, although the qualities needed for the job have never been disclosed. A person may not now they were a Witzeman for many years, until they are called by former Witzemans via dreams. Associates of the Witzeman are known to be a certain Babe Cool or the much lesser known Witzewoman. The Present Witzeman is an 11 year old boy namely Benjamin Woods, who is said to have become a Witzeman after he felt this 'awesome radiance in his top right bumcheek He has not told a great number of people his testimony, but has promised to do so in years to come. History
The present world has only come enlightned with the knowledge of the Witzeman in present years, because former Witzemen have not been so public about the honour, to abide with the formality and conservativism in their time. The term 'Witzeman' is a compound word of the adjective Witze and 'man witze being an 11th century term for 'a person of extreme humour and radiant intelligence Unfortuneatly, Witze is also sometimes associated with bad wind, for unspeakable reasons. Proper History
As early as the 14th century, Witzemen were considered outcasts, and young children were encouraged to poke them with sticks. This led to the 1st Witzeman Rebellion of 1555 when the current Witzeman and his followers attempted a coup to take over the local Council chess team. This rebellion further disgraced the Witzeman, as he and his followers were embarassingly pronounced 'gaga' at a Government meeting that year. The period from here to the early 1900s was a dark time in the Witzemans history. However good times were to come for the Witzeman. Many normal people took part in mass demonstrations and protests for the Witzeman in the 1980s, building up to a great moment in the history the Great Rebellion of 1988. This was when several Witzeman sprinted round the Visitors Gallery of the House of Commons, wearing clown masks, but otherwise completely naked. This was thought to be an act of circambulation. However many people who witnessed this shocking behaviour, were 'mentally, spiritually, and emotionallly scarred for life This group of people included many young children who were forced to go to asylums in a state of mental instability, suffering from trauma. It was at this time that the Government finally took positive action for the Witzeman. In 1990, a bill of rights for the Witzeman was signed, stating all Witzemen were allowed to do as they pleased. Although this was a formal agreement, many journalists viewed it as a letter of submission from the Government to the Witzeman, as the behaviour of the Witzeman and his followers became more and more twisted.

In [72]:
data_train.reset_index(inplace=True)
data_train.drop(columns=["index"], inplace=True)
data_test.reset_index(inplace=True)
data_test.drop(columns=["index"], inplace=True)
final_data_train = data_train.copy()
final_data_test = data_test.copy()

In [73]:
data_test

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
0,00001cee341fdb12,Yo bitch Ja Rule is more succesful then you'll...,-1,-1,-1,-1,-1,-1,0
1,0000247867823ef7,"From RfC The title is fine as it is, IMO.",-1,-1,-1,-1,-1,-1,0
2,00013b17ad220c46,Sources Zawe Ashton on Lapland,-1,-1,-1,-1,-1,-1,0
3,00017563c3f7919a,":If you have a look back at the source, the in...",-1,-1,-1,-1,-1,-1,0
4,00017695ad8997eb,I don't anonymously edit articles at all.,-1,-1,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...,...
151738,fffcd0960ee309b5,". i totally agree, this stuff is nothing but t...",-1,-1,-1,-1,-1,-1,0
151739,fffd7a9a6eb32c16,Throw from out field to home plate. Does it g...,-1,-1,-1,-1,-1,-1,0
151740,fffda9e8d6fafa9e,Okinotorishima categories I see your changes ...,-1,-1,-1,-1,-1,-1,0
151741,fffe8f1340a79fc2,"""One of the founding nations of the EU German...",-1,-1,-1,-1,-1,-1,0
151742,ffffce3fb183ee80,Stop already. Your bullshit is not welcome he...,-1,-1,-1,-1,-1,-1,0

In [74]:
import os
import pandas as pd
import numpy as np
import sys
sys.path.append("../") # go to parent dir

from src.data.ganymede import create_ganymede_dataset, load_html
from src.data.setup_experiment import FileWarehouse
from src.preprocessing.text_extraction import TextExtraction
from src.preprocessing.text_preprocessing import TextPreprocessor
from src.vectorization.vectorization_sbert import TextVectorization
from src.classification.helpers import split_train_val_test
from src.classification.active_sbert import ClassificationManagerSBERT
from src.classification.plotting import plot_progress

import copy

import numpy as np

In [75]:
final_data_train = final_data_train.drop(['id'], axis=1)
final_data_test = final_data_test.drop(['id'], axis=1)

In [76]:
final_data_test

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
0,Yo bitch Ja Rule is more succesful then you'll...,-1,-1,-1,-1,-1,-1,0
1,"From RfC The title is fine as it is, IMO.",-1,-1,-1,-1,-1,-1,0
2,Sources Zawe Ashton on Lapland,-1,-1,-1,-1,-1,-1,0
3,":If you have a look back at the source, the in...",-1,-1,-1,-1,-1,-1,0
4,I don't anonymously edit articles at all.,-1,-1,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...
151738,". i totally agree, this stuff is nothing but t...",-1,-1,-1,-1,-1,-1,0
151739,Throw from out field to home plate. Does it g...,-1,-1,-1,-1,-1,-1,0
151740,Okinotorishima categories I see your changes ...,-1,-1,-1,-1,-1,-1,0
151741,"""One of the founding nations of the EU German...",-1,-1,-1,-1,-1,-1,0
151742,Stop already. Your bullshit is not welcome he...,-1,-1,-1,-1,-1,-1,0

In [77]:
text_preprocessor = TextPreprocessor()
final_data_train["comment_text"] = final_data_train["comment_text"].apply(text_preprocessor.preprocess_data)
final_data_train = final_data_train.drop(final_data_train[final_data_train["comment_text"].map(len) == 0].index)
#data_train = data_train.drop_duplicates(subset=["comment_text"] + labels)

final_data_test["comment_text"] = final_data_test["comment_text"].apply(text_preprocessor.preprocess_data)
final_data_test = final_data_test.drop(final_data_test[final_data_test["comment_text"].map(len) == 0].index)
#data_test = data_test.drop_duplicates(subset=["comment_text"] + labels)

final_data_test

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
0,yo bitch ja rule is more succesful then youll ...,-1,-1,-1,-1,-1,-1,0
1,from rfc the title is fine as it is imo.,-1,-1,-1,-1,-1,-1,0
2,sources zawe ashton on lapland,-1,-1,-1,-1,-1,-1,0
3,if you have a look back at the source the info...,-1,-1,-1,-1,-1,-1,0
4,i dont anonymously edit articles at all.,-1,-1,-1,-1,-1,-1,0
...,...,...,...,...,...,...,...,...
151738,. i totally agree this stuff is nothing but to...,-1,-1,-1,-1,-1,-1,0
151739,throw from out field to home plate. does it ge...,-1,-1,-1,-1,-1,-1,0
151740,okinotorishima categories i see your changes a...,-1,-1,-1,-1,-1,-1,0
151741,one of the founding nations of the eu germany ...,-1,-1,-1,-1,-1,-1,0
151742,stop already. your bullshit is not welcome her...,-1,-1,-1,-1,-1,-1,0

In [48]:
labels = final_data_test.columns.values[-7:].tolist()

In [49]:
for i in labels:
    final_data_test = final_data_test[(final_data_test[i] != -1)]
final_data_test

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
5,thank you for understanding. i think very high...,0,0,0,0,0,0,1
7,dear god this site is horrible.,0,0,0,0,0,0,1
11,somebody will invariably try to add religion r...,0,0,0,0,0,0,1
13,it says it right there that it is a type. the ...,0,0,0,0,0,0,1
14,before adding a new product to the list make s...,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...
151729,jerome i see you never got around to this i m ...,0,0,0,0,0,0,1
151730,lucky bastard heh you are famous now. i kida e...,0,0,0,0,0,0,1
151733,shame on you all you want to speak about gays ...,0,0,0,0,0,0,1
151734,mel gibson is a nazi bitch who makes shitty mo...,1,0,1,0,1,0,0
151735,unicorn lair discovery supposedly a unicorn la...,0,0,0,0,0,0,1

In [50]:
train_df = final_data_train.copy()
test_df = final_data_test.copy()
train_toxic_comments = train_df[train_df['non_toxic'] == 0]
train_clean_comments = train_df[train_df['non_toxic'] == 1]

test_toxic_comments = test_df[test_df['non_toxic'] == 0]
test_clean_comments = test_df[test_df['non_toxic'] == 1]

custom_training_df = pd.concat([train_toxic_comments,train_clean_comments.sample(15_000)])
custom_test_df = pd.concat([test_toxic_comments,test_clean_comments.sample(5_000)])

custom_training_df

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
6,cocksucker before you piss around on my work,1,1,1,0,1,0,0
12,hey what is it talk .what is it an exclusive g...,1,0,0,0,0,0,0
16,bye dont look come or think of comming back to...,1,0,0,0,0,0,0
42,you are gay or antisemmitian archangel white t...,1,0,1,0,1,1,0
43,fuck your filthy mother in the ass dry,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
123338,michael moores page rv poorly sourced quotes w...,0,0,0,0,0,0,1
49328,this is my page. if you dont like it i dont ca...,0,0,0,0,0,0,1
40044,to clarify the article is now words which unde...,0,0,0,0,0,0,1
98275,question do you like this picture,0,0,0,0,0,0,1
58674,i see no reason to assume and state that the t...,0,0,0,0,0,0,1

In [51]:
custom_test_df

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
21,arabs are committing genocide in iraq but no p...,1,0,0,0,0,0,0
48,dj robinson is gay as hell he sucks his dick s...,1,0,1,0,1,1,0
59,fuck off you anti semitic cunt.,1,0,1,0,1,0,0
76,how dare you vandalize that page about the hms...,1,0,0,0,0,0,0
81,no he is an arrogant self serving immature idi...,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...
141630,no. these are not gross out films. the sole pu...,0,0,0,0,0,0,1
146653,although the right wing incitement is a bit ha...,0,0,0,0,0,0,1
60541,maybe they want but they arent. i have quoted ...,0,0,0,0,0,0,1
67410,australian federal election at what point give...,0,0,0,0,0,0,1
15557,this is just a test by kalyani.,0,0,0,0,0,0,1

In [52]:
custom_training_df.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_train_clean.csv', index=False)
custom_test_df.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_clean.csv', index=False)

In [53]:
from sklearn.model_selection import train_test_split
test_toxic_comments = custom_test_df[custom_test_df['non_toxic'] == 0]
test_clean_comments = custom_test_df[custom_test_df['non_toxic'] == 1]

toxic_test, toxic_val = train_test_split(
        test_toxic_comments, test_size=0.5, shuffle=True)
clean_test, clean_val = train_test_split(
        test_clean_comments, test_size=0.5, shuffle=True)

custom_val_df = pd.concat([toxic_val,clean_val.sample(2_500)])
custom_test_df = pd.concat([toxic_test,clean_test.sample(2_500)])
print(custom_test_df.shape)
print(custom_val_df.shape)

(5618, 8)
(5619, 8)

In [54]:
custom_test_df

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
43006,lol i dont give a shit if you block me from ed...,1,0,1,0,1,0,0
78691,deleted content for future reference i entirel...,1,0,0,0,0,0,0
98449,i love kicking pigs and making them burst into...,1,0,0,0,0,0,0
115565,hello owen do you like cock,1,0,1,0,0,0,0
105142,just stick it in my anus,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...
130495,homework again ian suzuki mrs. kovar scholarsh...,0,0,0,0,0,0,1
96894,construction world pimp your himp here at,0,0,0,0,0,0,1
79540,holy calling almost hits yesterday wow dyk is ...,0,0,0,0,0,0,1
122913,nor l ph p to n lo i tr n ch tr v gi tr khi c ...,0,0,0,0,0,0,1
5812,in mind for the next time. cheers,0,0,0,0,0,0,1

In [55]:
text_vectorizer = TextVectorization()
X_train = text_vectorizer.vectorize(custom_training_df["comment_text"].values)
y_train = custom_training_df.loc[:, labels].values

X_test = text_vectorizer.vectorize(custom_test_df["comment_text"].values)
y_test = custom_test_df.loc[:, labels].values

X_val = text_vectorizer.vectorize(custom_val_df["comment_text"].values)
y_val = custom_val_df.loc[:, labels].values

df_train = pd.DataFrame(np.concatenate((X_train, y_train), axis=1))
df_test = pd.DataFrame(np.concatenate((X_test, y_test), axis=1))
df_val = pd.DataFrame(np.concatenate((X_val, y_val), axis=1))
df_train.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_train_vec_final.csv', index=False)
df_test.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec_final.csv', index=False)
df_val.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_val_vec_final.csv', index=False)

In [34]:
for i in labels:    
    df_test = df_test.drop(df_test.loc[df_test[i]==-1].index, inplace=True)
    
df_test

,0,1,2,3,4,5,6,7,8,9,...,380,381,382,383,384,385,386,387,388,389
0,0.065594,0.181810,-0.184394,-0.101367,-0.298633,-0.066889,0.831307,-0.305536,-0.084741,0.173661,...,0.087998,-0.047460,-0.052839,-0.128937,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-0.038897,0.332731,-0.219489,-0.699198,0.097701,0.002002,0.113410,0.409459,-0.001416,0.305989,...,0.279975,0.041919,0.523153,0.136184,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-0.089813,-0.359988,-0.230889,-0.015276,0.364447,-0.031801,-0.064360,-0.667454,0.021380,-0.225577,...,0.521166,-0.173807,-0.266447,-0.311436,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-0.301582,0.010361,0.015906,0.046635,-0.131133,0.061641,-0.436568,0.029016,0.060452,0.108101,...,0.054735,-0.178834,-0.041479,-0.024299,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-0.419133,-0.462792,0.146103,0.140190,0.760394,-0.044182,-0.625256,0.020639,0.526238,0.085510,...,0.498250,-0.198268,-0.323774,-0.472845,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152673,-0.204002,-0.137887,-0.164293,-0.235245,0.119049,-0.332299,0.126693,-0.335689,0.068805,-0.164985,...,0.391231,0.095550,0.510525,-0.064017,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152674,0.364278,0.822443,0.060937,-0.504485,0.197392,-0.187441,-0.064584,0.291523,-0.017322,0.318208,...,0.288629,-0.082142,0.245348,0.735803,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152675,0.086041,-0.011166,-0.213755,0.072964,0.174156,0.003834,0.097395,0.040465,0.052750,-0.008251,...,0.141127,-0.383374,-0.293894,-0.004066,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152676,0.045500,0.660634,-0.362358,-0.050614,0.081297,-0.106593,0.056433,-0.446832,0.067544,0.090309,...,0.371777,0.021378,0.234700,-0.096962,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152677,0.003857,0.132597,0.061816,-0.222703,0.265403,-0.355360,0.367322,0.107280,-0.009318,-0.137720,...,0.141889,0.133305,0.107267,0.166553,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [53]:
df_test = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec.csv')
df_test
#df_test.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec.csv', index=False)

,0,1,2,3,4,5,6,7,8,9,...,380,381,382,383,384,385,386,387,388,389
0,0.065594,0.181810,-0.184394,-0.101367,-0.298633,-0.066889,0.831307,-0.305536,-0.084741,0.173661,...,0.087998,-0.047460,-0.052839,-0.128937,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,-0.038897,0.332731,-0.219489,-0.699198,0.097701,0.002002,0.113410,0.409459,-0.001416,0.305989,...,0.279975,0.041919,0.523153,0.136184,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,-0.089813,-0.359988,-0.230889,-0.015276,0.364447,-0.031801,-0.064360,-0.667454,0.021380,-0.225577,...,0.521166,-0.173807,-0.266447,-0.311436,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-0.301582,0.010361,0.015906,0.046635,-0.131133,0.061641,-0.436568,0.029016,0.060452,0.108101,...,0.054735,-0.178834,-0.041479,-0.024299,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-0.419133,-0.462792,0.146103,0.140190,0.760394,-0.044182,-0.625256,0.020639,0.526238,0.085510,...,0.498250,-0.198268,-0.323774,-0.472845,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152673,-0.204002,-0.137887,-0.164293,-0.235245,0.119049,-0.332299,0.126693,-0.335689,0.068805,-0.164985,...,0.391231,0.095550,0.510525,-0.064017,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152674,0.364278,0.822443,0.060937,-0.504485,0.197392,-0.187441,-0.064584,0.291523,-0.017322,0.318208,...,0.288629,-0.082142,0.245348,0.735803,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152675,0.086041,-0.011166,-0.213755,0.072964,0.174156,0.003834,0.097395,0.040465,0.052750,-0.008251,...,0.141127,-0.383374,-0.293894,-0.004066,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152676,0.045500,0.660634,-0.362358,-0.050614,0.081297,-0.106593,0.056433,-0.446832,0.067544,0.090309,...,0.371777,0.021378,0.234700,-0.096962,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
152677,0.003857,0.132597,0.061816,-0.222703,0.265403,-0.355360,0.367322,0.107280,-0.009318,-0.137720,...,0.141889,0.133305,0.107267,0.166553,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [49]:
for i in ['384', '385', '386', '387', '388', '389']:
    df_test = df_test.drop(df_test.loc[df_test[i]==-1].index, inplace=True)
df_test

In [57]:
for i in ['384', '385', '386', '387', '388', '389']:
    df_test = df_test[(df_test[i] != -1)]
df_test

,0,1,2,3,4,5,6,7,8,9,...,380,381,382,383,384,385,386,387,388,389
5,0.006586,0.221857,0.063927,-0.128602,-0.191954,0.015319,0.027613,-0.037406,-0.030358,0.087389,...,0.598100,-0.015184,0.198308,-0.066776,0.0,0.0,0.0,0.0,0.0,0.0
7,0.271079,-0.403249,-0.119005,0.336334,-0.326101,-0.632540,-0.629846,0.145022,0.847559,0.117841,...,0.404842,-0.431592,-0.060488,-0.193788,0.0,0.0,0.0,0.0,0.0,0.0
11,0.178272,0.165839,-0.081621,0.087729,0.081368,-0.014531,-0.353794,-0.326864,0.458203,-0.017304,...,0.293549,-0.081120,0.426821,-0.134770,0.0,0.0,0.0,0.0,0.0,0.0
13,0.027416,-0.316706,-0.334122,0.183348,-0.188835,-0.040503,-0.415677,0.000712,0.062150,0.173770,...,0.106322,-0.259730,0.627763,0.032142,0.0,0.0,0.0,0.0,0.0,0.0
14,-0.000553,-0.043617,-0.040054,-0.210496,0.262317,-0.150468,0.097623,0.000289,-0.275601,-0.092671,...,0.348369,-0.177436,0.171159,0.225607,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152664,-0.226683,0.071161,0.043512,-0.026648,-0.424589,-0.365633,0.062694,-0.110012,-0.307101,-0.045490,...,0.032622,0.063408,0.100521,-0.004035,0.0,0.0,0.0,0.0,0.0,0.0
152665,0.130528,0.462576,0.207289,-0.467026,-0.347530,-0.050498,0.434112,-0.091837,0.002036,-0.173581,...,0.136563,-0.224944,0.140528,0.204127,0.0,0.0,0.0,0.0,0.0,0.0
152668,-0.043447,0.528489,-0.150345,0.051579,-0.227930,-0.356238,-0.207769,-0.214404,0.393607,-0.177331,...,0.062308,0.193656,-0.667107,-0.157144,0.0,0.0,0.0,0.0,0.0,0.0
152669,0.421505,-0.264869,-0.400974,-0.138139,-0.050972,0.405789,0.566083,0.189911,0.117106,0.126662,...,-0.098375,-0.251354,0.693836,-0.590816,1.0,0.0,1.0,0.0,1.0,0.0
152670,-0.110721,0.138197,0.143456,-0.374615,-0.225234,-0.553685,0.379008,-0.326301,0.288889,-0.351361,...,-0.353345,0.090176,0.030121,-0.473107,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df_test.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec.csv', index=False)

In [ ]:
    """"
    df_train = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_train_vec.csv')
    df_test = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec.csv')
    labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
    X_train = df_train["comment_text"].values
    y_train = df_train.loc[:, labels].values

    X_test = df_test["comment_text"].values
    y_test = df_test.loc[:, labels].values

    X_train, X_val, y_train, y_val = split_train_val_test(X_train, y_train, train_frac=0.9, test_frac=0.1)
    
    """

In [8]:
import numpy as np
from sklearn.model_selection import train_test_split
import pandas as pd

train_df = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_train_vec.csv')
test_df = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_vec.csv')
labels = ['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']
label_nums = ['385', '386', '387', '388','389']
train_toxic_comments = train_df[train_df[label_nums].sum(axis=1) > 0]
train_clean_comments = train_df[train_df[label_nums].sum(axis=1) == 0]

test_toxic_comments = test_df[test_df[label_nums].sum(axis=1) > 0]
test_clean_comments = test_df[test_df[label_nums].sum(axis=1) == 0]

custom_training_df = pd.concat([train_toxic_comments,train_clean_comments.sample(15_000)])
custom_test_df = pd.concat([test_toxic_comments,test_clean_comments.sample(5_000)])

test, val = train_test_split(
        custom_test_df, test_size=0.5, shuffle=True)

In [9]:

print(test.shape)
print(val.shape)
print(custom_training_df.shape)

(4533, 390)
(4766, 390)
(4767, 390)
(25559, 390)

In [10]:
test.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_cleaned.csv', index=False)
val.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_val_cleaned.csv', index=False)
custom_training_df.to_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_trained_cleaned.csv', index=False)

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

custom_training_df = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_train_clean.csv')
custom_test_df = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\toxic_test_clean.csv')

In [2]:
custom_training_df.head()

,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,non_toxic
0,cocksucker before you piss around on my work,1,1,1,0,1,0,0
1,hey what is it talk .what is it an exclusive g...,1,0,0,0,0,0,0
2,bye dont look come or think of comming back to...,1,0,0,0,0,0,0
3,you are gay or antisemmitian archangel white t...,1,0,1,0,1,1,0
4,fuck your filthy mother in the ass dry,1,0,1,0,1,0,0

In [3]:
from transformers import DistilBertTokenizer
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset

# Using Pretrained DistilBertTokenizer
tokenizer = DistilBertTokenizer.from_pretrained("distilbert-base-uncased")

# Creating Dataset class for Toxic comments and Labels 
class Toxic_Dataset(Dataset):
    def __init__(self, Comments_, Labels_):
        self.comments = Comments_.copy()
        self.labels = Labels_.copy()
        
        self.comments["comment_text"] = self.comments["comment_text"].map(lambda x: tokenizer(x, padding="max_length", truncation=True, return_tensors="pt"))
    
    def __len__(self):
        return len(self.labels)
    
    def __getitem__(self, idx):
        comment = self.comments.loc[idx,"comment_text"]
        label = np.array(self.labels.loc[idx,:])
        
        return comment, label

In [8]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Pablo\OneDrive\Desktop\Pablo\uni\tfm\code\active-learning-pablo\data\datasets\cflw_large_with_trees.csv')
df.head()

,host_id,page_id,page_version_id,RelatedTagsArray,Cybercrime,Drugs / Narcotics,Financial Crime,Goods and Services,Sexual Abuse,Violent Crime,html,tree
0,59895,40,26837,"['Bitcoin (BTC)', 'English', 'Financial Crime'...",0,0,1,0,0,0,NaN,{html {head meta meta meta meta title link li...
1,59906,44,46435,"['English', 'Financial Crime', 'Gambling', 'Ma...",0,0,1,0,0,0,NaN,{html {head title link link meta meta link li...
2,59930,48,22406700,"['Community', 'Cybercrime', 'Forum', 'Gerki Ma...",1,0,0,0,0,0,NaN,{html {head style meta meta meta base script ...
3,60064,86,17558,"['Cannabis', 'Community', 'Drugs / Narcotics',...",0,1,0,0,0,0,NaN,{html {head meta title link link style} {body...
4,60073,88,18512,"['Carding', 'Credit Cards', 'English', 'Financ...",0,0,1,0,0,0,NaN,{html {head meta title meta meta link link li...

In [9]:
print(df.shape)
df = df.dropna()
print(df.shape)

(151676, 12)
(54150, 12)

In [6]:
df.head()

,host_id,page_id,page_version_id,RelatedTagsArray,Cybercrime,Drugs / Narcotics,Financial Crime,Goods and Services,Sexual Abuse,Violent Crime,html,tree
795,61985,6925,3360,"['Bitcoin (BTC)', 'English', 'Financial Crime'...",0,0,1,0,0,0,-,-
1580,71546,18221,23920923,"['Bitcoin (BTC)', 'English', 'Financial Crime'...",0,0,1,0,0,0,-,-
1599,71687,18806,531,"['Bitcoin (BTC)', 'English', 'Financial Crime'...",0,0,1,0,0,0,-,-
12199,165612,3467130,6273383,"['Carding', 'English', 'Financial Crime', 'Ind...",0,0,1,0,0,0,-,-
12228,165741,3478817,6285083,"['Carding', 'Credit Cards', 'English', 'Financ...",0,0,1,0,0,0,-,-

NameError: name 'NaN' is not defined